.description {
    width: 100%;
    text-align: justify;
    color: white;
    /*background-image: linear-gradient(to bottom right, rgb(115, 132, 212), rgb(169, 120, 219) ,rgb(211, 107, 218), rgb(237, 84, 199));*/
}
/* #7384d4, #a978db #d36bda #ed54c7*/

.title {
    font-size: 120%;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-left: 2.5% ;
    color: white;
    padding: 20px;
}

.header {
    background-image: linear-gradient(to bottom right, rgb(115, 132, 212), rgb(169, 120, 219) ,rgb(211, 107, 218), rgb(237, 84, 199),
    rgb(244, 70, 157), rgb(240, 90, 127), rgb(238, 117, 124), rgb(230, 193, 119));
    align-items: center;
    display: block;
}

.custom_button {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.callout {
    float: right;
}

.page {
    width: 100%;
    font-family: Avenir;
    margin-left: auto;
    margin-right: auto;
}